<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recording</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Xin chào {{user_name}}</h1>
<table style="width:100%">
    <tr>
        <th>Id</th>
        <th width="70%">Câu</th>
        <th>Controls</th>
        <th>File</th>
    </tr>
    {% for i in range(0,number_id) %}
    <tr>
        <td id="colId_{{id[i]}}" class="colId" align="center">{{id[i]}}</td>
        <td id="colCau_{{id[i]}}" align="left">
            <label>
                {{sentence[i]}}
            </label>
        </td>
        <td id="colControls_{{id[i]}}" align="center">
            <button id="recordButton_{{id[i]}}">Record</button>
            <!--            <button id="pauseButton" disabled>Pause</button>-->
            <button id="stopButton_{{id[i]}}" disabled>Stop</button>
        </td>
        <td id="colWav_{{id[i]}}" align="center">
        </td>
    </tr>
    {% endfor %}

</table>
<br><br>
<div align="center">
    <button id="upAudio" onclick="upload()">Tải lên và tiếp tục thu
    âm</button>
</div>
<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
<script type="text/javascript">
    var id = {{id}};
    var user_name = {{user_name}};
</script>
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
</body>
</html>